In [1]:
import numpy as np
import pandas as pd

In [59]:
crime = pd.read_csv("Crime_Rate.csv")

In [3]:
demo = pd.read_csv("demographic_refined.csv")

In [60]:
crime = crime.rename(columns={"City/Agency":'city'})

In [61]:
crime = crime.set_index("city")

In [64]:
crime = crime[["Violent crime rate",'Property crime rate']]

In [65]:
crime

             Violent crime rate Property crime rate
city
NaN           per 1,000 persons   per 1,000 persons
Adelanto                   6.06               25.31
Agoura Hills               0.82               11.27
Alameda                    1.88               22.36
Albany                      1.6                24.7
...                         ...                 ...
Yountville                 2.35               13.43
Yreka                       8.2               39.43
Yuba City                   3.4               25.93
Yucaipa                    1.34               18.52
Yucca Valley               3.53               25.11

[460 rows x 2 columns]

In [38]:
demo.join(crime,on='city')

,zipcode,county_name,city,population,population_rank,city_name,aland,median_household_income,average_household_income,per_capita_income,...,unemployment_pct,housing_units,median_value_of_owner_occupied_units,County,Population[5],Population,Violent crimes[5],Violent crime rate,Property crimes[5],Property crime rate
0,90242,Los Angeles,Downey,112322,59,Downey,11788002,71233,85792,26335,...,0.05700,12713,513900,Los Angeles,"113,595","9,155.00",281,2.47,"2,897",25.5
1,90747,Los Angeles,Carson,92079,83,Carson,16629,72803,91209,28026,...,0.06430,9331,464175,Los Angeles,"92,838","4,958.50",339,3.65,"2,116",22.79
2,91501,Los Angeles,Burbank,103703,71,Burbank; Glendale,10275284,67817,94589,38247,...,0.08100,8417,770500,Los Angeles,"105,041","6,057.40",150,1.43,"2,426",23.1
3,92115,San Diego,San Diego,1409573,2,San Diego,16845692,51636,73784,25970,...,0.06500,23089,499100,San Diego,"1,368,690","4,208.90","5,214",3.81,"26,812",19.59
4,92543,Riverside,Hemet,84542,100,East Hemet; Hemet,45646461,33319,45497,16435,...,0.15000,14367,136600,Riverside,"82,412","2,959.50",430,5.22,"3,357",40.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,90042,Los Angeles,Los Angeles,3966936,1,Los Angeles,12036777,64267,87211,30575,...,0.06800,22061,627200,Los Angeles,"3,906,772","8,335.90","19,171",4.91,"83,139",21.28
970,90043,Los Angeles,Los Angeles,3966936,1,Los Angeles; View Park-Windsor Hills,10705825,54729,77169,31101,...,0.09000,18748,556400,Los Angeles,"3,906,772","8,335.90","19,171",4.91,"83,139",21.28
971,90044,Los Angeles,Los Angeles,3966936,1,Los Angeles; West Athens; Westmont,13303667,35981,51524,16278,...,0.07104,30461,391100,Los Angeles,"3,906,772","8,335.90","19,171",4.91,"83,139",21.28
972,90045,Los Angeles,Los Angeles,3966936,1,Del Aire; Los Angeles,27794039,104578,140825,56291,...,0.05000,17133,959400,Los Angeles,"3,906,772","8,335.90","19,171",4.91,"83,139",21.28
973,90046,Los Angeles,Los Angeles,3966936,1,Los Angeles; West Hollywood,14981233,72266,114923,67271,...,0.06604,31822,1183200,Los Angeles,"3,906,772","8,335.90","19,171",4.91,"83,139",21.28

In [9]:
crime

,City/Agency,County,Population[5],Population,Violent crimes[5],Violent crime rate,Property crimes[5],Property crime rate
0,NaN,NaN,NaN,density[5][3][note 2],NaN,"per 1,000 persons",NaN,"per 1,000 persons"
1,Adelanto,San Bernardino,"31,213",557.3,189,6.06,790,25.31
2,Agoura Hills,Los Angeles,"20,767","2,664.80",17,0.82,234,11.27
3,Alameda,Alameda,"77,048","7,378.70",145,1.88,"1,723",22.36
4,Albany,Alameda,"19,350","10,822.10",31,1.6,478,24.7
...,...,...,...,...,...,...,...,...
455,Yountville,Napa,"2,978","1,945.10",7,2.35,40,13.43
456,Yreka,Siskiyou,"7,558",756.9,62,8.2,298,39.43
457,Yuba City,Sutter,"65,525","4,473.00",223,3.4,"1,699",25.93
458,Yucaipa,San Bernardino,"52,794","1,858.90",71,1.34,978,18.52
459,Yucca Valley,San Bernardino,"21,228",530.5,75,3.53,533,25.11

In [6]:
demo

,zipcode,county_name,city,population,population_rank,city_name,aland,median_household_income,average_household_income,per_capita_income,...,hhi_200k_or_more,race_and_ethnicity_total,population_density_sq_mi,median_age,educational_attainment_bachelors,educational_attainment_graduate,family_poverty_pct,unemployment_pct,housing_units,median_value_of_owner_occupied_units
0,90242,Los Angeles,Downey,112322,59,Downey,11788002,71233,85792,26335,...,738,42694,9384.0,34.1,0.1440,0.06500,0.07600,0.05700,12713,513900
1,90747,Los Angeles,Carson,92079,83,Carson,16629,72803,91209,28026,...,704,33215,4884.0,39.7,0.1885,0.07477,0.08100,0.06430,9331,464175
2,91501,Los Angeles,Burbank,103703,71,Burbank; Glendale,10275284,67817,94589,38247,...,965,20511,5170.0,40.5,0.2810,0.14800,0.09705,0.08100,8417,770500
3,92115,San Diego,San Diego,1409573,2,San Diego,16845692,51636,73784,25970,...,1130,64343,9896.0,28.3,0.2020,0.12396,0.11400,0.06500,23089,499100
4,92543,Riverside,Hemet,84542,100,East Hemet; Hemet,45646461,33319,45497,16435,...,160,38314,2174.0,35.2,0.0570,0.02301,0.23790,0.15000,14367,136600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,90042,Los Angeles,Los Angeles,3966936,1,Los Angeles,12036777,64267,87211,30575,...,1641,63193,13600.0,35.8,0.2130,0.11000,0.11300,0.06800,22061,627200
970,90043,Los Angeles,Los Angeles,3966936,1,Los Angeles; View Park-Windsor Hills,10705825,54729,77169,31101,...,1236,45873,11096.0,40.1,0.1600,0.10205,0.14210,0.09000,18748,556400
971,90044,Los Angeles,Los Angeles,3966936,1,Los Angeles; West Athens; Westmont,13303667,35981,51524,16278,...,474,99443,19360.0,31.6,0.0590,0.02000,0.26200,0.07104,30461,391100
972,90045,Los Angeles,Los Angeles,3966936,1,Del Aire; Los Angeles,27794039,104578,140825,56291,...,3432,40567,3780.0,35.1,0.3830,0.22500,0.04602,0.05000,17133,959400
973,90046,Los Angeles,Los Angeles,3966936,1,Los Angeles; West Hollywood,14981233,72266,114923,67271,...,4165,50900,8800.0,38.2,0.4300,0.18500,0.03800,0.06604,31822,1183200